/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/10/2017, 12:09:16 AM
    Author     : denni
*/

.stars {
    display: flex;
    flex-direction: row-reverse;
    
}
.stars > i:hover:before,
.stars > i:hover ~ i:before {
    color: gold;
    cursor: pointer;
}
